@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../scss/variables";

.section {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  transition: .5s ease;
  background-color: $gray-900;
}

.content {
  @extend .overlay;
  background-color: transparent;
  color: $white;
  opacity: 1;
}