<section id="section-summary" class="section section-summary">
    <div class="section-content">
        <div class="cover-background" style="background-image: url('/assets/images/image-top.jpg');"></div>
        <div class="overlay"></div>
        <div class="container content-overlay">
            <div class="row align-content-center h-100">
                <div class="col-lg-6 col-md-12">
                    <h1 class="title text-uppercase">Jadi Ganteng Gak Perlu Keluar Rumah!</h1>
                    <p>Panggil mitra tukang cukur profesional kami kapanpun dan dimanapun</p>
                </div>
                <div class="col-md-12 mt-4">
                    <a href="/about-us" class="btn btn-mitra btn-lg btn-primary font-weight-bold" data-navigo>Pelajari <i class="fas fa-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-feature" class="section-dark section-feature">
    <div class="container">
        <div class="row section-title">
            <h2 class="text-uppercase">Kenapa Be-Gans?</h2>
        </div>
        <div class="row section-content">
            <div class="col-md-4 content-feature">
                <div class="icon fas fa-user-friends"></div>
                <h3 class="title">Mitra Profesional</h3>
                <p class="description">Mitra yang berpengalaman, profesional, dan telah melalui proses seleksi dan pelatihan dari kami untuk dapat memberikan pelayanan yang maksimal.</p>
            </div>
            <div class="col-md-4 content-feature">
                <div class="icon far fa-clock"></div>
                <h3 class="title">Menghemat Waktu</h3>
                <p class="description">Tak perlu untuk mengantri di tempat cukur. Cukup duduk manis dirumah sudah bisa ganteng.</p>
            </div>
            <div class="col-md-4 content-feature">
                <div class="icon far fa-paper-plane"></div>
                <h3 class="title">Pemesanan Yang Fleksibel</h3>
                <p class="description">Pesan BeGans kapanpun dan dimanapun.</p>
            </div>
        </div>
    </div>
</section>
<section id="section-faq" class="section section-faq">
    <div class="container">
        <div class="row section-title">
            <h2 class="text-uppercase">Frequently Asked Question</h2>
        </div>
        <div class="row section-content">
            <div class="col-md-12">
                <h3 class="title">Apa saja layanan Be-Gans?</h3>
                <p class="description">Selain cukur rambut, Be-Gans juga menyediakan layanan perawatan rambut dan pemijatan ringan.</p>
            </div>
            <div class="col-md-12">
                <h3 class="title">Bagaimana cara pemesanan Be-Gans?</h3>
                <p class="description">Sangat mudah. Anda cukup mendownload aplikasi kami kemudian pilih mitra tempat cukur favorit mu.</p>
            </div>
            <div class="col-md-12">
                <h3 class="title">Berapa tarif layanan Be-Gans?</h3>
                <p class="description">Tarif layanan Be-Gans cukup murah. Mulai dari Rp. 40.000 untuk sekali pemotongan rambut.</p>
            </div>
        </div>
    </div>
</section>