<div class="footer container">
    <div class="row">
        <div class="col-md-6 footer-content footer-copyright">
            <span class="copyright text-primary">Copyright &copy 2019 Be-Gans</span>
            <span>Jasa layanan pemesanan tukang cukur berbasis aplikasi.</span>
        </div>
        <div class="col-md-6 footer-content footer-find-us">
            <h4 class="title">Temukan Kami</h4>
            <a href="#" class="icon">
                <span class="fab fa-facebook-square"></span>
            </a>
            <a href="#" class="icon">
                <span class="fab fa-instagram"></span>
            </a>
            <a href="#" class="icon">
                <span class="fab fa-twitter"></span>
            </a>
        </div>
    </div>
</div>