@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../scss/variables";

.navbar {
  padding: 0;

  .container {
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-height: 70px;
  }

  .btn-mitra {
    .text:hover {
      color: $white !important;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .active > .nav-link {
      color: $primary;
      font-weight: $font-weight-bold;
    }

    .nav-link:hover {
      color: $primary;
    }
  }
}

.navbar-brand {
  padding: .5rem 0;
  font-weight: bold;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding: 0rem 1rem;

    .btn-mitra {
      width: 120px;
    }
  }
}